.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    // padding: 7rem 2rem 0 2rem;
    padding : 0.5rem 0 0 0;
    transition: margin-left var(--layout-section-transition-duration);
    background: var(--surface-ground);
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}

@media (max-width: 991px) {
    .layout-main-container {
        padding-top: 6rem;
    }
}

@media (max-width: 768px) {
    .layout-main-container {
        padding-top: 5rem;
    }
}

@media (max-width: 480px) {
    .layout-main-container {
        padding-top: 4.5rem;
    }
}
